MONDAY_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY5ODMyMjI0OCwiYWFpIjoxMSwidWlkIjoxMTQ4NjQ4MTcsImlhZCI6IjIwMjYtMDgtMzBUMDc6MTE6MzAuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjM2NjcyNzM0LCJyZ24iOiJhcHNlMiJ9.eEGFvIe3Dcv8PzrZnfZJcIs4KZxuEnkaQEiJtusbcCs
DEALS_BOARD_ID=5030966266
WORK_ORDERS_BOARD_ID=5030966343